html, body {
  height: 100%;
  width: 100%;
  background-color: #E4F7FF;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('romaski.png'); 
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 150px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

header img[src="rokas.png"] {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 20px;
}


h1 span {
  font-family: 'La Belle Aurore', cursive;
  font-size: 30px;
  display: block;
}

nav a {
  font-size: 15px;
  text-decoration: none;
  margin: 0 10px;
}

 

  .all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

img {
  width: 200px;
  height: auto;
}
nav {
  position: absolute;
  left: 270px; /* Adjust as necessary to position next to the image */
  top: 10px;   /* Adjust as necessary to align vertically as desired */
  display: flex;
  gap: 10px; /* Space between the links */
}
nav a {
  font-size: 15px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #FFF0B5; /* Background color for blocks */
  color: black; /* Text color */
  border-radius: 4px;/* Rounded corners */
}


   div.text-block{
  background-color: #D9D9D9; /* Light grey background */
  color: black; /* Black text */
  padding: 10px; /* Add some padding around the text */
  line-height: 1.5; /* Adjust line height for better readability */
  margin: 5px 20px; /* Add margin for spacing */
  overflow: hidden; /* Ensure the block is created */
  max-height: 12em; /* Limit to roughly 5 lines */
}
div.text-block a {
  margin: 0; /* Remove default margin for paragraph */
}


h1 {
  font-family: 'Lusitana', serif;
  color: #FFFCFC; /* Text color */
  }



img[src="zilie.png"] {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

}
 